.page{

    min-height:100vh;

    background:var(--background);

    padding:40px;

}

.container{

    max-width:1400px;

    margin:auto;

    display:grid;

    grid-template-columns:380px 1fr;

    gap:32px;

    align-items:start;

}

.left{

    position:sticky;

    top:40px;

}

.right{

    min-height:700px;

}

.space{

    height:24px;

}

.smallSpace{

    height:14px;

}

@media(max-width:1000px){

.container{

grid-template-columns:1fr;

}

.left{

position:static;

}

}